@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.rc-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.rc-pagination > li {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.rc-pagination > li > a,
.rc-pagination > li > span {
  display: inline-block;
  padding: 6px 8px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  color: #656f84;
  text-align: center;
  line-height: 1.4;
  transition: 0.3s;
}

.rc-pagination > .rc-pagination-item-active > a,
.rc-pagination > .rc-pagination-item-active > span,
.rc-pagination > li > a:hover,
.rc-pagination > li > span:hover {
  background-color: #4150a6;
  border-color: #4150a6;
  color: #ffffff;
}

.rc-pagination > .rc-pagination-disabled,
.rc-pagination > .rc-pagination-disabled {
  color: #d7d7d7;
  pointer-events: none;
  cursor: not-allowed;
}
